*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
  margin: 0 auto;
}
img {
  max-width: 100%;
  display: block;
}
section {
  padding: 120px 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.headerlogo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.textlogo {
  color: #2e2f42;
}
.navilink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.firsta {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.firsta::after {
  content: "";
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
}
.contact {
  font-style: normal;
  display: flex;
  gap: 40px;
  margin-left: auto;
}
.contlink {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navilink:hover,
.navilink:focus,
.contlink:hover,
.contlink:focus {
  color: #404bbf;
}
.sectone {
  background-color: #2e2f42;
  padding: 188px 0;
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/officepep.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.mainheadss {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.butmain {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butmain:hover,
.butmain:focus {
  background-color: #404bbf;
}
.secttwo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 120px 0;
}
.secttwoh {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
.ourthree {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.paragraph {
  font-size: 16px;
  color: #434455;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 400;
}
.sectthree {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.teamhead {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.threeul .lisectthree {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.sectfour {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.porthead {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.footerclases {
  background-color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  padding: 100px 0;
}
.footerprag {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.spanlogo {
  color: #f4f4fd;
}
.logosus {
  color: #4d5ae5;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}
.mainheader {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.headerdiv {
  display: flex;
}
.navhead {
  display: flex;
  align-items: center;
}
.listnavi {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
}
.listitem {
  display: flex;
  gap: 40px;
  align-items: center;
}
.secondul {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0;
}
.secondli {
  width: calc((100% - 48px) / 3);
}
.navilink {
  padding: 24px 0;
}
.conlist {
  display: flex;
  gap: 40px;
  align-items: center;
}
.threeul {
  display: flex;
  gap: 24px;
}
.threediv {
  padding: 32px 0;
}
.threepar {
  text-align: center;
  margin-bottom: 8px;
}
.fourul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.fourul .lisectfour {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lisectfour:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.lisectfour:hover .overlay {
  transform: translateY(0%);
}

.fourdiv {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  position: relative;
  overflow: hidden;
}
.fourh {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: left;
}
.fourpar {
  font-size: 16px;
  color: #434455;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 400;
  text-align: left;
}
.svgdivone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.socialul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.socialli {
  width: 40px;
  height: 40px;
}
.socialalink {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socialalink:hover,
.socialalink:focus {
  background-color: #404bbf;
}
.socialsvg {
  fill: #f4f4fd;
}
.boxoverlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footerdiv {
  display: flex;
  align-items: baseline;
}
.logotypediv {
  margin-right: 120px;
}
.socialmediap {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.socialulfooter {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.socialalinkfooter {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socialsvgfoot {
  fill: #f4f4fd;
  background-color: #4d5ae5;
}
.socialalinkfooter:hover,
.socialalinkfooter:focus {
  background-color: #31d0aa;
}
.footemaildiv {
  margin-left: 80px;
}
.subpar {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.formfoot {
  gap: 24px;
  display: flex;
}
.inputfoot {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
placeholder {
  color: #ffffff;
}
.subbutton {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.svgsubs {
  margin-left: 16px;
  fill: #ffffff;
}
.modvik {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.vikno {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.vikbutka {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.vikbutka:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.vikbutka:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.vikbutka:focus .butkasvg {
  fill: #ffffff;
}
.butkasvg {
  fill: #000;
}
.butkasvg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butkause:hover {
  fill: #ffffff;
}
.butkause:focus {
  fill: #ffffff;
}

.vikparg {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.formdivone {
  margin-bottom: 8px;
}
.labelname {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.formnameone {
  position: relative;
}
.nameinputs {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nameinputs:focus {
  border-color: #4d5ae5;
}
.namesvg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nameinputs:focus + .namesvg {
  fill: #4d5ae5;
}
.textreaform {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textreaform:focus {
  border-color: #4d5ae5;
}
.formdivcom {
  margin-bottom: 16px;
}
.formdivcheck {
  margin-bottom: 24px;
}
:root {
  --highlight-color: #404bbf;
}
#user-privacy {
  display: none;
}
.private {
  color: #4d5ae5;
  margin-left: 8px;
}

.sendform {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: auto;
}
.spanlbl {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  display: inline-flex;
}
#user-privacy:checked + .lablpriv .spanlbl {
  background-color: var(--highlight-color);
  border: none;
  fill: #f4f4fd;
  display: inline-flex;
}
.lablpriv {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}
.svglbl {
  display: inline-flex;
}
